<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyStock.Common.Settings.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MyStock.Common.Settings.GlobalSettings.MyStockDbTest"
            connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=MyStockDbTest;User ID=sa;Password=MsSqlPass" />
        <add name="MyStock.Common.Settings.GlobalSettings.MyStockDb"
            connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=MyStockDb;User ID=sa;Password=MsSqlPass" />
    </connectionStrings>
    <applicationSettings>
        <MyStock.Common.Settings.GlobalSettings>
            <setting name="IsTest" serializeAs="String">
                <value>True</value>
            </setting>
        </MyStock.Common.Settings.GlobalSettings>
    </applicationSettings>
</configuration>